candlestick-chart {
  .int-cs-chart {
  }

  .js-plotly-plot .plotly .xgrid {
    stroke: '#29353A';
    stroke-width: 0px;
  }

  .js-plotly-plot .plotly .xgrid:hover {
    stroke: '#29353A';
    stroke-width: 1px;
  }
}
