page-exchange-detail {
  .margin-2-5 {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .heading {
    font-size: 1em;
  }

  .item {
    font-size: 1.25em;
    font-weight: bold;
  }

  .numeric {
    text-align: right;
  }

  .centered {
    text-align: center;
  }

  .right-aligned {
    text-align: right;
  }

  .divider {
    border-bottom: 1px solid #37474F;
  }

  .bordered {
    border-top: 2px solid #37474F;
    border-bottom: 2px solid #37474F;
  }

  .split-80 {
    width: 80%;
    float: left;
  }

  .split-20 {
    width: 20%;
    float: left;
  }

  .large {
    font-size: 2.25em;
    margin-right: 10px;
  }

  .margin-10 {
    margin-left: 10px;
  }

  .chart {
    // margin-left: 5%;
    // margin-right: 5%;
    width: 100%;
    height: 100%;
  }

  .chart-placeholder {
    height: 500px;
  }

  .volume-chart-placeholder {
    height: 150px;
  }

  .volume-chart {
    // margin-left: 5%;
    // margin-right: 5%;
    width: 100%;
    height: 125px;
    display: block;
  }
}
